/* -------------------------------------------
   HEADER CONTAINER
------------------------------------------- */

.header {
  width: 95%;
  position: sticky;
  z-index: 1000;
  padding: 20px 10px;
  margin: 25px auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;

  border-radius: 25px;
  backdrop-filter: blur(8px);

  color: rgb(3, 39, 65);
  text-shadow: 1px 1px 2px  #ffffff;
  background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.574),
        rgba(209, 224, 250, 0.662)
    );
  box-shadow:
        -10px 10px 40px rgba(0, 0, 0, 0.2),
        inset -3px 3px 2px rgba(255, 255, 255, 0.4);
}

/* -------------------------------------------
   SECTIONS
------------------------------------------- */

.header__section {
  display: flex;
  font-size: 1.35em;
  padding-left: 10px;
  align-items: center;
}

.header__section p{
  margin: 0 5px;
  padding: 0px 8px;
}

/* -------------------------------------------
   SPECIAL CLASSES
------------------------------------------- */

.header__name{
  font-weight:600;
  font-size: 1.2em;
}

.header__links p {
  font-size: 0.9em;
  padding: 8px 16px;
  border-radius: 15px;
  background-color: transparent;
  transition: background-color 0.5s ease, box-shadow 0.3s ease;
}

.header__links a :hover {
  background-color: #e5f4f653; 
  text-shadow: 2px 2px 4px #ffffff;
  box-shadow:
    0 10px 20px rgba(36, 36, 36, 0.159),
    inset -2px 2px 2px rgba(255, 255, 255, 0.502);
  cursor: pointer;
}

@media (max-width: 910px) {
   .header {
    justify-content: space-around;
    font-size: 0.9em; 
  }
  .header__links {
    display:none
  }
  .header__section {
    gap: 20px;
  }
}