.container {
    width: 85%;
    height: max(500px, 70vh);
    margin: 5vh auto;
    justify-self: center;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    
    background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.493),
        rgba(217, 231, 255, 0.521)
    );
    
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.2),
        inset 0 3px 3px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 300px;
    height: 300px;
}
.nameText {
    font-size: 24px; 
    font-weight: bold;
    margin-bottom: 8px;
    /* text-align: center; */
}
.subtitleText {
    color: #4b5563; 
    /* text-align: center; */
    margin-bottom: 16px;
}
