/* -------------------------------------------
   EXPERIENCE CONTAINER
------------------------------------------- */

div, p, h1 {
    margin: 0
}

.container {
    width: 85%; 
    max-width: 950px;
    margin: 3vh auto;
    padding: 3% 3%;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    
    background: linear-gradient(
        250deg,
        rgba(255, 255, 255, .3) 60%,
        rgba(219, 230, 255, 0.4)
    );
    backdrop-filter: blur(40px); 
    
    box-shadow:
        -5px 10px 30px rgba(0, 0, 0, 0.2),
        inset -2px 2px 4px rgba(255, 255, 255, 0.2);
    
    display: flex;
    flex-direction: row;
    gap: 25px;
    /* height: 100%; */
}

.rightColumn p, .leftColumn div {
    background: linear-gradient(
        250deg,
        rgba(255, 255, 255, .2) 85%,
        rgba(219, 230, 255, 0.2)
    );
    backdrop-filter: blur(40px); 
    border-radius: 20px;
    box-shadow:
        -2px 5px 10px rgba(36, 36, 36, 0.2),
        inset -2px 2px 2px rgba(255, 255, 255, 0.502);
}

/* -------------------------------------------
   LEFT COLUMN
------------------------------------------- */

.leftColumn {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.leftColumn div {
    padding: 25px 20px;
}

.logoCompanyContainer {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.logo {
    width: 80px;
    height: 80px;
}

.company {
    font-size: 32px; 
    font-weight: 550;
    color: #15181c; 
}

.position {
    font-style: italic;
    font-weight: 500;
    color: #404955; 
    font-size: 28px;
    text-align: center;
    /* min-height: 60px; */
}

.datesLocationContainer, .skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datesLocationContainer p, .skillsContainer p {
    font-size: 17px;
    color: #4b5563; 
}



/* -------------------------------------------
   RIGHT COLUMN
------------------------------------------- */

.rightColumn {
    display: flex;
    font-family: "Plus Jakarta Sans", sans-serif;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
    gap: 20px;
}

.rightColumn p {
    padding: 15px;
}

.description {
    font-size: 20px;
    color: #4b5563; 
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
        flex-direction: column;
        padding: 25px;
        gap: 15px;
    }
    .leftColumn {
        gap: 15px;
    }
    .leftColumn div {
        padding: 10px 10px;
    }
    .logoCompanyContainer {
        justify-content: center;
        align-items: center;
        gap: 3%
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .company {
        font-size: 24px; 

    }
    .position {
        font-size: 20px;
    }
    .datesLocationContainer {
        justify-content: space-evenly;
        border-radius: 0px;
    }
    .datesLocationContainer p {
         font-size: 15px;
    }
    .rightColumn {
        width: 100%;
        gap: 15px;
    }
    .rightColumn p{
        font-size: 16px;
    }
}




