.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollContainer {
  flex: 1;
  overflow-y: auto;
  background-color: #dfe8fa;
  background-image: url('../../assets/images/background.png');
  padding-bottom: 5vh;
}

.sectionHeader {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: italic;
  font-size: 2.75rem; 
  font-weight: 550;
  color: #15181c;  
  text-align: center;
  opacity: .7;
  text-shadow: 1px 1px 3px  #ffffff;
}

.experienceSection {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  width: 100%;
}

.experienceGrid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 5vh 5vh;
}

.experienceGrid > :last-child:nth-child(odd) {
    grid-column: 1 / -1;
    justify-self: center;
    width: calc(50% - 2.5vh);
}

@media (max-width: 1000px) {
    .experienceGrid {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .experienceGrid > :last-child:nth-child(odd) {
        grid-column: auto; 
        width: 90%;
    }
}